Django>=1.9.7
Jinja2>=2.8
MarkupSafe>=0.23
PyJWT>=1.4.0
defusedxml>=0.4.1
django-debug-toolbar>=1.4
django-jinja>=2.1.3
oauthlib>=1.1.2
pip>=8.1.2
python-social-auth>=0.2.19
python3-openid>=3.0.10
requests>=2.10.0
requests-oauthlib>=0.6.1
setuptools>=24.0.2
six>=1.10.0
sqlparse>=0.1.19
wheel>=0.29.0
