<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <title>{% block title %}{{ settings.SITE_HEAD_TITLE }}{% endblock %}</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{{ static('css/style.css') }}">
      <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"
              integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="
              crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endblock head %}
    {% block extrahead %}{% endblock %}
</head>
<body id="page-top" class="{% block bodyclass %}base{% endblock %}">
    {% block body %}

      {# Navigation #}
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">

          {# Brand #}
          {% block brand %}
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle"
                      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#page-top">{{ settings.SITE_HEAD_TITLE }}</a>
            </div>
          {% endblock %}

          {# Collect nav links #}
          {% block nav %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {% block admin %}
                  <li>
                    <a href="{{ url('admin:index') }}">Admin</a>
                  </li>
                {% endblock admin %}
              </ul>
            </div>
          {% endblock nav %}

        </div> {# container #}
      </nav>

      {# Main content #}
      <main>
        {% block main %}
        {% endblock main %}
      </main>

      <footer>{% block footer %}{% endblock %}</footer>

    {% endblock body %}
</body>
</html>

